@model PayProject.Entity.SettleMch
@{
    ViewBag.Title = "代付商户管理";
    Layout = PayProject.Common.Utils.Pjax();
}
<div id="container">
    <style>
        /*.layui-inline {width: 20%;}*/
    </style>
    <script>
        var isLoadSettlePlat = false;
        var settleplatArr = new Array();
        layui.use('layer', function () {
            var $ = layui.$
                , layer = layui.layer;
            $.ajax({
                type: 'get',
                url: "/api/settleplat/all",
                success: function (res) {
                    if (res.statusCode === 200) {
                        $.each(res.data, function (i, val) {
                            settleplatArr[val.plat_id] = val.plat_name;
                        });
                        isLoadSettlePlat = true;
                    }
                }
            });
        });
    </script>
    <div class="list-wall">
        <div class="layui-form list-search" style="margin-top:10px;">
            <div class="layui-inline">
                <input class="layui-input" id="mch_id" autocomplete="off" placeholder="输入商户号查询">
            </div>
            <div class="layui-inline">
                <input class="layui-input" id="mch_name" autocomplete="off" placeholder="输入商户名称查询">
            </div>
            <div class="layui-inline">
                <select id="selectPlantId" lay-filter="selectPlantId" lay-verify="" lay-search></select>
            </div>

            <button type="button" id="search" class="layui-btn layui-btn-sm" data-type="toolSearch"><i class="layui-icon layui-icon-search"></i> 搜索</button>
            <br />
        </div>
        <table class="layui-hide" id="tablist" lay-filter="tool"></table>
    </div>
    <input type="hidden" id="isSave" value="0" />
    <script type="text/html" id="toolbar">
        <div class="layui-btn-container">
            <button type="button" class="layui-btn layui-btn-sm" lay-event="toolAdd"><i class="layui-icon"></i> 新增</button>
            <button type="button" class="layui-btn layui-btn-sm" lay-event="toolDel"><i class="layui-icon"></i> 删除</button>
        </div>
    </script>
    <script>

        layui.config({
            base: '/themes/js/modules/'
        }).use(['table', 'layer', 'jquery', 'laydate', 'common', 'form'],
            function () {
                var table = layui.table,
                    layer = layui.layer,
                    $ = layui.jquery,
                    os = layui.common,
                    laydate = layui.laydate,
                    form = layui.form;
                form.render();
                laydate.render({
                    elem: '#queryValue3'
                    , theme: '#393D49'
                    , type: 'datetime'
                    , format: 'yyyy/MM/dd HH:mm:ss'
                    , range: true
                });

                table.render({
                    toolbar: '#toolbar',
                    elem: '#tablist',
                    headers: os.getToken(),
                    url: '/api/settlemch/getpages',
                    cols: [
                        [
                            { type: 'checkbox', fixed: 'left' },
                            { field: 'id', title: 'ID', width: 90, sort: true, fixed: 'left' },
                            { field: 'mch_id', title: '商户号', width: 130 },
                            { field: 'mch_name', title: '商户名称', width: 110 },
                            { field: 'plat_id', title: '所属平台', width: 100, templet: '<div>{{ ShowPlat(d.plat_id)}}</div>' },
                            { field: 'nullity', title: '是否开启', width: 100, templet: '#switchOpen' },
                            { field: 'create_time', title: '创建时间', width: 155, sort: true, templet: '<div>{{ Util.timestampToTime(d.create_time)}}</div>' },
                            { field: 'update_time', title: '更新时间', width: 155, sort: true, templet: '<div>{{ Util.timestampToTime(d.update_time)}}</div>' },
                            { width: 100, title: '操作', templet: '#tool' }
                        ]
                    ],
                    page: { limits: [10, 20, 50, 100, 500, 1000, 5000, 10000], groups: 8 },
                    id: 'tables',
                    initSort: {
                        field: 'id',
                        order: 'desc'
                    },
                    sort: true,
                    where: {
                        field: 'id',
                        order: 'desc'
                    }
                });
                var _order = "desc";
                var guid = '', active = {
                    reload: function () {
                        table.reload('tables',
                            {
                                page: {
                                    curr: 1
                                },
                                where: {
                                    mch_id: $("#mch_id").val(),
                                    mch_name: $("#mch_name").val(),
                                    plat_id: $("#selectPlantId").val(),
                                    field: 'id',
                                    order: _order
                                }
                            });
                    },
                    loadPlatInfo: function () {
                        $.ajax({
                            headers: os.getToken(),
                            type: 'get',
                            //data: { page: 1,limit:1000 },
                            url: "/api/settleplat/all",
                            success: function (res) {
                                var t = "";
                                if (res.statusCode === 200) {
                                    t = '<option value="0" selected="selected">请选择所属平台</option>';
                                    $.each(res.data, function (i, val) {
                                        t += '<option value="' + val.plat_id + '" >' + val.plat_name + '</option>';
                                    });
                                    $('#selectPlantId').append(t);
                                    form.render('select');
                                } else {
                                    os.error(res.message);
                                }
                            }
                        })
                    },
                    toolAdd: function () {
                        os.Open('添加商户', '/settlemch/edit?id=-1', '850px', '500px', function () {
                            if (parseInt($("#isSave").val()) === 1) {
                                $("#isSave").val('0');
                                active.reload();
                            }
                        });
                    },
                    toolDel: function () {
                        var checkStatus = table.checkStatus('tables')
                            , data = checkStatus.data;
                        if (data.length === 0) {
                            os.error("请选择要删除的项目~");
                            return;
                        }
                        var str = '', strCount = 0;
                        $.each(data, function (i, item) {
                            str += item.id + ",";
                            strCount++;
                        });
                        title = '确定要删除所选的' + strCount + '项?';
                        layer.confirm(title, function (index) {
                            layer.close(index);
                            var loadindex = layer.load(1, {
                                shade: [0.1, '#000']
                            });
                            os.ajax('api/settlemch/delete/', { parm: str }, function (res) {
                                layer.close(loadindex);
                                if (res.statusCode === 200) {
                                    active.reload();
                                    os.success('删除成功！');
                                } else {
                                    os.error(res.message);
                                }
                            });
                        });

                    },
                    paymchEdit: function (id) {
                        os.Open('编辑商户', '/settlemch/edit?id=' + id, '850px', '500px', function () {
                            if (parseInt($("#isSave").val()) === 1) {
                                $("#isSave").val('0');
                                active.reload();
                            }
                        })
                    },
                    toolSearch: function () {
                        active.reload();
                    }
                };
                active.loadPlatInfo();
                table.on('toolbar(tool)', function (obj) {
                    active[obj.event] ? active[obj.event].call(this) : '';
                });
                table.on('tool(tool)', function (obj) {
                    var data = obj.data;
                    if (obj.event === 'edit') {
                        active.paymchEdit(data.id);
                    }
                });
                $('.list-search .layui-btn').on('click', function () {
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });
                table.on('sort(tool)', function (obj) {
                    _order = obj.type;
                    table.reload('tables', {
                        initSort: obj,
                        where: {
                            field: obj.field,
                            order: obj.type
                        }
                    });
                });
                window.active = active;
            });

        function ShowPlat(plat_id) {
            if (isLoadSettlePlat) {
                if (typeof (plat_id) == "undefined") {
                    return plat_id;
                }
                if (typeof (settleplatArr[plat_id]) == "undefined") {
                    return plat_id;
                }
                return settleplatArr[plat_id];
            }
            else {
                return plat_id;
            }
        }
    </script>
    <script type="text/html" id="switchOpen">
        <input type="checkbox" name="status" disabled value="{{d.userid}}" lay-skin="switch" lay-text="正常|禁用" {{ d.nullity==0?'checked':''}}>
    </script>
    <script type="text/html" id="tool">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit"><i class="layui-icon"></i> 修改</a>
    </script>
</div>

